#BetBot
DISCORD_TOKEN_TESTBOT=      DISCORDTOKENHERE
IS_LOCAL=                   true
BETBOT_BACKEND_URL_LOCAL=   http://localhost:3000
BETBOT_BACKEND_URL_PROD=    url_to_prod_DB_host
BETBOT_BACKEND_KEY=         UUID_BACKEND_KEY
UFC_API_URL_LOCAL=          http://localhost:8080
UFC_API_URL_PROD=           url_to_prod_API_host
UFC_API_KEY=                UUID_API_KEY

#BetBot-Backend
PORT=                       3000
API_KEY=                    UUID_API_KEY
DB_PW=                      PasswordToDB_From_db_connect_url
ATLAS_DB_CONNECT=           DB_CONNECT_FROM_ATLAS
BACKEND_API_KEY=            UUID_BACKEND_KEY

#UFC-API
PORT=                       8080
API_KEY=                    UUID_API_KEY