#BetBot
DISCORD_TOKEN_TESTBOT=GENERATED TOKEN
IS_LOCAL=true
BETBOT_BACKEND_URL_LOCAL=http://localhost:8080
BETBOT_BACKEND_URL_PROD=none

#BetBot-Backend
PORT=8080
DB_PW=PW FROM THE CONNECT URL
ATLAS_DB_CONNECT=CONNECT URL FROM ATLAS DB
BACKEND_API_KEY=UUID FOR APIKEY